<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant&display=swap" rel="stylesheet">

  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <!--link rel="apple-touch-icon" sizes="180x180"
        href="{% static '/img/favicon/apple-touch-icon.png' %}">
  <link rel="icon" sizes="32x32" href="{% static '/img/favicon/favicon-32x32.png' %}"
        type="image/png">
  <link rel="icon" sizes="16x16" href="{% static '/img/favicon/favicon-16x16.png' %}"
        type="image/png"-->
  <link rel="shortcut icon" href="{% static '/img/favicon/favicon.ico' %}" type="image/x-icon">
  <link rel="manifest" href="{% static '/img/favicon/site.webmanifest' %}">

  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>GCertificate</title>
  {% endif %}

  <style>
    .bg-nav-color{
      background-color: #D88;
    }
    .nb{
      margin-left:10px;
    }
    body{
      font-family: 'Cormorant', cursive;
      font-size: 12pt;
      font-weight:bold;
    }
    a{
      color:black;
      text-decoration:none;
    }
    .magicbox{
      padding:20px;
      border-radius:5px;
    }
    .ft{
      text-align:center;
      font-size:8pt;
      margin-top:20px;
    }
  </style>

  {% block extra_head %}{% endblock extra_head %}
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-md mb-4 border bg-nav-color">
  <div class="navbar-brand nb">
    <a href="{% url 'index' %}"><h3><b>GCertificate</b></h3></a>
    <small style="font-style:italic;"
           title="Crie certificados simples, de forma rápida e fácil com nosso Gerador de Certificados!">
      Create simple certificates, quickly and easy with our Generator of Certificates!
    </small>
  </div>

  <!--button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <span class="navbar-text"><b title="Ola Companheiro(a)!">Hello Dude!</b></span>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="" title="">abc</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="">Terminar sessao</a>
      </li>
      {% else %}
      <li class="nav-item">
        <span class="navbar-text"><b>Olaa, Companheiro!</b></span>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="">Inicie sessao</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="">Cadastre-se</a>
      </li>
      {% endif %}
    </ul>
  </div-->
</nav>
<main role="main" class="magicbox container bg-light">
  <div class="pb-2 mb-2 border-bottom">
    {% block page_header %}{% endblock page_header %}
  </div>
  <div>
    {% block content %}{% endblock content %}
  </div>
</main>
<footer class="ft border bg-nav-color">
  <b title="Todos os direitos reservados.">&copy; All rights reserved.</b>
</footer>
</body>
</html>
