{% extends 'base.html' %}{% load django_bootstrap5 %}

{% block extra_head %}{% endblock extra_head %}

{% block page_header %}
<h2 title="Certificado de Participação">Certificate of Participation</h2>
<small title="Preencha os dados para concluir a edição do certificado">
  Fill in the data to complete editing the certificate.
</small>
{% endblock page_header %}

{% block content %}
<form class="form" method="post">
  {% csrf_token %}
  {% bootstrap_form cp_form %}

  {% bootstrap_button button_type="submit" content="OK" %}
  {% bootstrap_button button_type="reset" content="Cancel" %}
</form>
{% endblock content %}
