{% extends 'base.html' %}{% load django_bootstrap5 %}

{% block extra_head %}
<style>
  .btn{
    padding:10px;
    border-style:solid;
    border-radius:10px;
    border-width:1px;
    border-color:white;
    font-weight:bold;
    background-color:#D88;
    margin-right:20px;
    margin-top:20px;
  }
  .btn:hover{
    padding:8px;
    border-style:solid;
    border-radius:15px;
    border-width:1px;
    border-color:white;
    font-weight:bold;
    background-color:#d89888;
  }
</style>
{% endblock extra_head %}

{% block page_header %}
<h2 title="Página não encontrada..">Page Not Found..</h2>
{% endblock page_header %}

{% block content %}
<p align="center"
   title="Lamento, mas o URL solicitado que tentou aceder não está disponível! Experimente um destes ou apenas volte">
  I'm sorry, the requested URL that you tried to reach isn't available!<br>
  Try one of this or just go back:
</p>
<ul>
  <li><a href="{% url 'index' %}">Home Page</a></li>
  <li><a href="{% url 'cp' %}">Generate a Certificate of Participation</a></li>
  <li><a href="{% url 'tc' %}">Generate a Training Certificate</a></li>
</ul>
<button class="btn" onclick="goBack()" title="Voltar">Go Back</button>

<script>
  function goBack() {
    window.history.back();
  }
</script>
{% endblock content %}
